<%- include('../layouts/header.ejs') %>
<body class="bdy" id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100 ">
                <a class="navbar-brand" href="/admin/">
                    <h1 class="tm-site-title mb-0 font"><svg width="212.82" height="21.96" viewBox="0 0 212.82 21.96"
                            xmlns="http://www.w3.org/2000/svg">
                            <g id="svgGroup" stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke="#000"
                                stroke-width="0.25mm" fill="#000"
                                style="stroke:#ffffff;stroke-width:0.25mm;fill:#ffffff">
                                <path
                                    d="M 75.54 21.96 L 74.1 21.96 L 62.13 5.88 Q 61.86 5.52 61.605 5.175 Q 61.35 4.83 61.08 4.47 L 61.05 4.47 L 61.14 17.31 L 61.14 18.81 Q 61.14 19.56 61.08 20.28 L 62.16 20.22 L 63.24 20.16 L 63.24 21.48 L 57.75 21.48 L 57.75 20.49 A 3.376 3.376 0 0 0 58.219 20.46 Q 58.765 20.383 59.057 20.112 A 1.006 1.006 0 0 0 59.085 20.085 Q 59.49 19.68 59.61 19.125 Q 59.721 18.614 59.729 18.192 A 3.47 3.47 0 0 0 59.73 18.12 L 59.76 3.69 L 59.76 2.67 L 59.76 1.68 Q 59.28 1.71 58.77 1.74 L 57.75 1.8 L 57.75 0.48 L 61.32 0.48 L 72.57 15.54 Q 72.96 16.05 73.335 16.56 Q 73.71 17.07 74.1 17.58 L 74.13 17.58 L 74.16 3.84 Q 74.16 3.24 74.19 2.685 Q 74.22 2.13 74.25 1.68 L 73.17 1.74 L 72.09 1.8 L 72.09 0.48 L 77.61 0.48 L 77.61 1.47 Q 76.645 1.496 76.201 1.862 A 1.046 1.046 0 0 0 76.08 1.98 A 1.724 1.724 0 0 0 75.725 2.645 Q 75.643 2.928 75.63 3.27 A 39.362 39.362 0 0 0 75.612 3.915 Q 75.606 4.2 75.603 4.511 A 68.975 68.975 0 0 0 75.6 5.16 L 75.54 21.96 Z M 50.46 13.71 L 49.47 13.71 A 7.659 7.659 0 0 0 49.445 13.062 Q 49.391 12.433 49.224 12.04 A 1.54 1.54 0 0 0 49.11 11.82 Q 48.75 11.25 47.97 11.13 A 6.181 6.181 0 0 0 47.51 11.078 Q 46.841 11.026 45.9 11.07 L 43.71 11.16 L 43.71 18.03 Q 43.71 18.587 43.703 19.03 A 36.896 36.896 0 0 1 43.695 19.41 A 10.901 10.901 0 0 1 43.677 19.812 Q 43.658 20.126 43.62 20.37 L 49.35 20.28 A 7.658 7.658 0 0 0 50.436 20.182 Q 51.008 20.086 51.493 19.9 A 4.56 4.56 0 0 0 51.63 19.845 A 2.912 2.912 0 0 0 52.951 18.724 A 3.778 3.778 0 0 0 53.13 18.42 A 4.005 4.005 0 0 0 53.459 17.55 Q 53.67 16.736 53.67 15.63 L 54.69 15.63 L 54.51 21.48 L 39.03 21.48 L 39.03 20.49 A 4.658 4.658 0 0 0 39.555 20.435 Q 40.115 20.341 40.43 20.109 A 1.067 1.067 0 0 0 40.59 19.965 Q 41.01 19.5 41.055 18.675 Q 41.097 17.905 41.1 16.938 A 47.971 47.971 0 0 0 41.1 16.8 L 41.1 3.84 Q 41.1 3.24 41.13 2.685 Q 41.16 2.13 41.19 1.68 L 40.11 1.74 L 39.03 1.8 L 39.03 0.48 L 53.46 0.48 L 53.61 5.73 L 52.62 5.73 A 9.309 9.309 0 0 0 52.572 4.754 Q 52.468 3.763 52.132 3.138 A 2.593 2.593 0 0 0 52.08 3.045 A 2.979 2.979 0 0 0 51.48 2.309 A 2.542 2.542 0 0 0 50.625 1.815 A 5.249 5.249 0 0 0 49.478 1.565 Q 49.134 1.527 48.767 1.527 A 7.472 7.472 0 0 0 48.57 1.53 L 45.99 1.59 A 5.207 5.207 0 0 0 45.445 1.631 Q 44.888 1.706 44.551 1.906 A 1.249 1.249 0 0 0 44.4 2.01 A 1.511 1.511 0 0 0 43.946 2.644 Q 43.86 2.864 43.82 3.129 A 2.782 2.782 0 0 0 43.815 3.165 A 9.241 9.241 0 0 0 43.76 3.689 Q 43.711 4.304 43.71 5.133 A 28.864 28.864 0 0 0 43.71 5.16 L 43.71 9.96 L 49.35 9.99 L 49.14 7.41 L 50.46 7.41 L 50.46 13.71 Z M 131.34 13.71 L 130.35 13.71 A 7.659 7.659 0 0 0 130.325 13.062 Q 130.271 12.433 130.104 12.04 A 1.54 1.54 0 0 0 129.99 11.82 Q 129.63 11.25 128.85 11.13 A 6.181 6.181 0 0 0 128.39 11.078 Q 127.721 11.026 126.78 11.07 L 124.59 11.16 L 124.59 18.03 Q 124.59 18.587 124.583 19.03 A 36.896 36.896 0 0 1 124.575 19.41 A 10.901 10.901 0 0 1 124.557 19.812 Q 124.538 20.126 124.5 20.37 L 130.23 20.28 A 7.658 7.658 0 0 0 131.316 20.182 Q 131.888 20.086 132.373 19.9 A 4.56 4.56 0 0 0 132.51 19.845 A 2.912 2.912 0 0 0 133.831 18.724 A 3.778 3.778 0 0 0 134.01 18.42 A 4.005 4.005 0 0 0 134.339 17.55 Q 134.55 16.736 134.55 15.63 L 135.57 15.63 L 135.39 21.48 L 119.91 21.48 L 119.91 20.49 A 4.658 4.658 0 0 0 120.435 20.435 Q 120.995 20.341 121.31 20.109 A 1.067 1.067 0 0 0 121.47 19.965 Q 121.89 19.5 121.935 18.675 Q 121.977 17.905 121.98 16.938 A 47.971 47.971 0 0 0 121.98 16.8 L 121.98 3.84 Q 121.98 3.24 122.01 2.685 Q 122.04 2.13 122.07 1.68 L 120.99 1.74 L 119.91 1.8 L 119.91 0.48 L 134.34 0.48 L 134.49 5.73 L 133.5 5.73 A 9.309 9.309 0 0 0 133.452 4.754 Q 133.348 3.763 133.012 3.138 A 2.593 2.593 0 0 0 132.96 3.045 A 2.979 2.979 0 0 0 132.36 2.309 A 2.542 2.542 0 0 0 131.505 1.815 A 5.249 5.249 0 0 0 130.358 1.565 Q 130.014 1.527 129.647 1.527 A 7.472 7.472 0 0 0 129.45 1.53 L 126.87 1.59 A 5.207 5.207 0 0 0 126.325 1.631 Q 125.768 1.706 125.431 1.906 A 1.249 1.249 0 0 0 125.28 2.01 A 1.511 1.511 0 0 0 124.826 2.644 Q 124.74 2.864 124.7 3.129 A 2.782 2.782 0 0 0 124.695 3.165 A 9.241 9.241 0 0 0 124.64 3.689 Q 124.591 4.304 124.59 5.133 A 28.864 28.864 0 0 0 124.59 5.16 L 124.59 9.96 L 130.23 9.99 L 130.02 7.41 L 131.34 7.41 L 131.34 13.71 Z M 188.4 13.71 L 187.41 13.71 A 7.659 7.659 0 0 0 187.385 13.062 Q 187.331 12.433 187.164 12.04 A 1.54 1.54 0 0 0 187.05 11.82 Q 186.69 11.25 185.91 11.13 A 6.181 6.181 0 0 0 185.45 11.078 Q 184.781 11.026 183.84 11.07 L 181.65 11.16 L 181.65 18.03 Q 181.65 18.587 181.643 19.03 A 36.896 36.896 0 0 1 181.635 19.41 A 10.901 10.901 0 0 1 181.617 19.812 Q 181.597 20.126 181.56 20.37 L 187.29 20.28 A 7.658 7.658 0 0 0 188.376 20.182 Q 188.948 20.086 189.433 19.9 A 4.56 4.56 0 0 0 189.57 19.845 A 2.912 2.912 0 0 0 190.891 18.724 A 3.778 3.778 0 0 0 191.07 18.42 A 4.005 4.005 0 0 0 191.399 17.55 Q 191.61 16.736 191.61 15.63 L 192.63 15.63 L 192.45 21.48 L 176.97 21.48 L 176.97 20.49 A 4.658 4.658 0 0 0 177.495 20.435 Q 178.055 20.341 178.37 20.109 A 1.067 1.067 0 0 0 178.53 19.965 Q 178.95 19.5 178.995 18.675 Q 179.037 17.905 179.04 16.938 A 47.971 47.971 0 0 0 179.04 16.8 L 179.04 3.84 Q 179.04 3.24 179.07 2.685 Q 179.1 2.13 179.13 1.68 L 178.05 1.74 L 176.97 1.8 L 176.97 0.48 L 191.4 0.48 L 191.55 5.73 L 190.56 5.73 A 9.309 9.309 0 0 0 190.512 4.754 Q 190.408 3.763 190.072 3.138 A 2.593 2.593 0 0 0 190.02 3.045 A 2.979 2.979 0 0 0 189.42 2.309 A 2.542 2.542 0 0 0 188.565 1.815 A 5.249 5.249 0 0 0 187.418 1.565 Q 187.074 1.527 186.707 1.527 A 7.472 7.472 0 0 0 186.51 1.53 L 183.93 1.59 A 5.207 5.207 0 0 0 183.385 1.631 Q 182.828 1.706 182.491 1.906 A 1.249 1.249 0 0 0 182.34 2.01 A 1.511 1.511 0 0 0 181.886 2.644 Q 181.8 2.864 181.76 3.129 A 2.782 2.782 0 0 0 181.755 3.165 A 9.241 9.241 0 0 0 181.7 3.689 Q 181.651 4.304 181.65 5.133 A 28.864 28.864 0 0 0 181.65 5.16 L 181.65 9.96 L 187.29 9.99 L 187.08 7.41 L 188.4 7.41 L 188.4 13.71 Z M 115.77 6.84 L 114.69 6.84 Q 114.6 5.4 114 4.11 Q 113.4 2.82 112.26 2.01 A 4.213 4.213 0 0 0 110.755 1.35 Q 110.111 1.2 109.35 1.2 Q 107.49 1.2 106.5 2.25 Q 105.51 3.3 105.51 4.71 A 3.645 3.645 0 0 0 105.653 5.752 A 2.953 2.953 0 0 0 106.23 6.825 A 6.009 6.009 0 0 0 107.238 7.766 A 7.82 7.82 0 0 0 108.105 8.325 Q 109.26 8.97 110.55 9.57 Q 111.69 10.08 112.83 10.665 A 12.239 12.239 0 0 1 114.604 11.77 A 11.103 11.103 0 0 1 114.9 12 Q 115.83 12.75 116.385 13.785 A 4.544 4.544 0 0 1 116.841 15.117 A 6.298 6.298 0 0 1 116.94 16.26 A 5.623 5.623 0 0 1 116.634 18.137 A 5.112 5.112 0 0 1 116.115 19.2 Q 115.29 20.49 113.73 21.225 A 7.248 7.248 0 0 1 112.057 21.765 Q 111.271 21.922 110.366 21.953 A 13.153 13.153 0 0 1 109.92 21.96 Q 108.57 21.96 107.13 21.57 A 8.996 8.996 0 0 1 105.42 20.923 A 7.702 7.702 0 0 1 104.58 20.43 L 104.73 21.72 L 103.17 21.72 L 102.99 15.33 L 104.16 15.33 Q 104.31 17.97 105.99 19.335 A 6.08 6.08 0 0 0 109.458 20.679 A 7.807 7.807 0 0 0 110.04 20.7 A 5.506 5.506 0 0 0 111.596 20.485 A 4.984 4.984 0 0 0 112.2 20.265 A 3.759 3.759 0 0 0 113.43 19.413 A 3.606 3.606 0 0 0 113.775 18.99 A 3.22 3.22 0 0 0 114.303 17.665 A 4.309 4.309 0 0 0 114.36 16.95 A 4.171 4.171 0 0 0 114.232 15.891 A 3.166 3.166 0 0 0 113.64 14.7 A 6.131 6.131 0 0 0 112.467 13.587 A 7.62 7.62 0 0 0 111.78 13.14 Q 110.64 12.48 109.35 11.88 Q 108.21 11.37 107.1 10.8 Q 105.99 10.23 105.075 9.495 Q 104.16 8.76 103.605 7.74 A 4.413 4.413 0 0 1 103.156 6.46 Q 103.053 5.927 103.05 5.319 A 7.438 7.438 0 0 1 103.05 5.28 A 5.189 5.189 0 0 1 103.135 4.368 A 6.895 6.895 0 0 1 103.32 3.6 A 4.71 4.71 0 0 1 103.9 2.371 A 5.815 5.815 0 0 1 104.265 1.875 A 4.353 4.353 0 0 1 105.216 1.021 A 5.943 5.943 0 0 1 106.125 0.525 Q 107.053 0.114 108.377 0.025 A 11.367 11.367 0 0 1 109.14 0 A 9.843 9.843 0 0 1 110.271 0.069 Q 110.842 0.135 111.47 0.265 A 16.806 16.806 0 0 1 111.705 0.315 Q 113.13 0.63 114.36 1.53 L 114.24 0.24 L 115.77 0.24 L 115.77 6.84 Z M 17.85 6.81 L 16.71 6.81 A 16.713 16.713 0 0 0 16.648 5.591 Q 16.559 4.61 16.35 3.87 Q 16.02 2.7 15.195 2.115 Q 14.37 1.53 12.81 1.56 L 10.26 1.56 L 10.23 17.91 Q 10.23 18.467 10.223 18.917 A 39.255 39.255 0 0 1 10.215 19.305 Q 10.204 19.728 10.17 20.049 A 5.078 5.078 0 0 1 10.14 20.28 Q 10.77 20.25 11.385 20.22 Q 12 20.19 12.63 20.16 L 12.63 21.48 L 5.58 21.48 L 5.58 20.49 A 4.477 4.477 0 0 0 6.104 20.434 Q 6.663 20.337 6.971 20.097 A 1.026 1.026 0 0 0 7.125 19.95 A 1.773 1.773 0 0 0 7.454 19.343 Q 7.534 19.095 7.563 18.799 A 3.413 3.413 0 0 0 7.575 18.645 Q 7.62 17.82 7.62 16.8 L 7.65 1.59 L 4.56 1.62 A 4.425 4.425 0 0 0 3.56 1.725 Q 2.445 1.984 1.89 2.88 A 4.148 4.148 0 0 0 1.462 3.859 Q 1.11 5.016 1.11 6.81 L 0 6.81 L 0.18 0.48 L 17.67 0.48 L 17.85 6.81 Z M 155.43 6.81 L 154.29 6.81 A 16.713 16.713 0 0 0 154.228 5.591 Q 154.139 4.61 153.93 3.87 Q 153.6 2.7 152.775 2.115 Q 151.95 1.53 150.39 1.56 L 147.84 1.56 L 147.81 17.91 Q 147.81 18.467 147.803 18.917 A 39.255 39.255 0 0 1 147.795 19.305 Q 147.784 19.728 147.75 20.049 A 5.078 5.078 0 0 1 147.72 20.28 Q 148.35 20.25 148.965 20.22 Q 149.58 20.19 150.21 20.16 L 150.21 21.48 L 143.16 21.48 L 143.16 20.49 A 4.477 4.477 0 0 0 143.684 20.434 Q 144.243 20.337 144.551 20.097 A 1.026 1.026 0 0 0 144.705 19.95 A 1.773 1.773 0 0 0 145.034 19.343 Q 145.114 19.095 145.143 18.799 A 3.413 3.413 0 0 0 145.155 18.645 Q 145.2 17.82 145.2 16.8 L 145.23 1.59 L 142.14 1.62 A 4.425 4.425 0 0 0 141.14 1.725 Q 140.025 1.984 139.47 2.88 A 4.148 4.148 0 0 0 139.042 3.859 Q 138.69 5.016 138.69 6.81 L 137.58 6.81 L 137.76 0.48 L 155.25 0.48 L 155.43 6.81 Z M 174.63 6.81 L 173.49 6.81 A 16.713 16.713 0 0 0 173.428 5.591 Q 173.339 4.61 173.13 3.87 Q 172.8 2.7 171.975 2.115 Q 171.15 1.53 169.59 1.56 L 167.04 1.56 L 167.01 17.91 Q 167.01 18.467 167.003 18.917 A 39.255 39.255 0 0 1 166.995 19.305 Q 166.984 19.728 166.95 20.049 A 5.078 5.078 0 0 1 166.92 20.28 Q 167.55 20.25 168.165 20.22 Q 168.78 20.19 169.41 20.16 L 169.41 21.48 L 162.36 21.48 L 162.36 20.49 A 4.477 4.477 0 0 0 162.884 20.434 Q 163.443 20.337 163.751 20.097 A 1.026 1.026 0 0 0 163.905 19.95 A 1.773 1.773 0 0 0 164.234 19.343 Q 164.314 19.095 164.343 18.799 A 3.413 3.413 0 0 0 164.355 18.645 Q 164.4 17.82 164.4 16.8 L 164.43 1.59 L 161.34 1.62 A 4.425 4.425 0 0 0 160.34 1.725 Q 159.225 1.984 158.67 2.88 A 4.148 4.148 0 0 0 158.242 3.859 Q 157.89 5.016 157.89 6.81 L 156.78 6.81 L 156.96 0.48 L 174.45 0.48 L 174.63 6.81 Z M 26.94 21.48 L 20.19 21.48 L 20.19 20.49 A 4.658 4.658 0 0 0 20.715 20.435 Q 21.275 20.341 21.59 20.109 A 1.067 1.067 0 0 0 21.75 19.965 Q 22.17 19.5 22.215 18.675 Q 22.257 17.905 22.26 16.938 A 47.971 47.971 0 0 0 22.26 16.8 L 22.26 3.84 Q 22.26 3.24 22.29 2.685 Q 22.32 2.13 22.35 1.68 L 21.27 1.74 L 20.19 1.8 L 20.19 0.48 Q 21.87 0.45 23.595 0.42 Q 25.32 0.39 27.06 0.45 Q 29.97 0.48 31.755 1.125 A 7.116 7.116 0 0 1 32.938 1.671 Q 33.848 2.205 34.38 2.955 A 4.519 4.519 0 0 1 35.154 4.914 A 5.973 5.973 0 0 1 35.22 5.82 Q 35.243 6.732 34.966 7.672 A 7.19 7.19 0 0 1 34.785 8.205 A 4.656 4.656 0 0 1 33.881 9.657 A 6.253 6.253 0 0 1 33.105 10.38 Q 32.214 11.084 30.75 11.53 A 13.372 13.372 0 0 1 29.61 11.82 A 4.062 4.062 0 0 1 30.501 12.68 A 4.753 4.753 0 0 1 30.66 12.9 A 80.647 80.647 0 0 1 31.077 13.518 Q 31.289 13.835 31.522 14.189 A 140.058 140.058 0 0 1 31.68 14.43 L 33.72 17.64 A 25.878 25.878 0 0 0 34.222 18.409 A 19.925 19.925 0 0 0 34.71 19.095 A 4.015 4.015 0 0 0 35.405 19.825 A 3.537 3.537 0 0 0 35.82 20.115 A 2.544 2.544 0 0 0 36.574 20.408 Q 36.898 20.48 37.272 20.489 A 4.484 4.484 0 0 0 37.38 20.49 L 37.38 21.48 L 33.6 21.48 A 12.519 12.519 0 0 1 32.801 20.7 A 9.531 9.531 0 0 1 32.145 19.92 A 24.461 24.461 0 0 1 31.549 19.088 A 32.29 32.29 0 0 1 30.93 18.15 L 28.92 14.94 Q 28.585 14.399 28.172 13.713 A 171.221 171.221 0 0 1 28.035 13.485 A 6.558 6.558 0 0 0 27.382 12.574 A 5.456 5.456 0 0 0 26.91 12.09 Q 26.43 12.12 25.905 12.12 Q 25.38 12.12 24.87 12.09 L 24.87 17.91 Q 24.87 18.467 24.863 18.917 A 39.255 39.255 0 0 1 24.855 19.305 Q 24.844 19.728 24.81 20.049 A 5.078 5.078 0 0 1 24.78 20.28 Q 25.14 20.25 25.5 20.235 Q 25.86 20.22 26.22 20.19 A 8.127 8.127 0 0 1 26.226 20.19 A 8.666 8.666 0 0 1 26.94 20.16 L 26.94 21.48 Z M 202.38 21.48 L 195.63 21.48 L 195.63 20.49 A 4.658 4.658 0 0 0 196.155 20.435 Q 196.715 20.341 197.03 20.109 A 1.067 1.067 0 0 0 197.19 19.965 Q 197.61 19.5 197.655 18.675 Q 197.697 17.905 197.7 16.938 A 47.971 47.971 0 0 0 197.7 16.8 L 197.7 3.84 Q 197.7 3.24 197.73 2.685 Q 197.76 2.13 197.79 1.68 L 196.71 1.74 L 195.63 1.8 L 195.63 0.48 Q 197.31 0.45 199.035 0.42 Q 200.76 0.39 202.5 0.45 Q 205.41 0.48 207.195 1.125 A 7.116 7.116 0 0 1 208.378 1.671 Q 209.288 2.205 209.82 2.955 A 4.519 4.519 0 0 1 210.594 4.914 A 5.973 5.973 0 0 1 210.66 5.82 Q 210.683 6.732 210.406 7.672 A 7.19 7.19 0 0 1 210.225 8.205 A 4.656 4.656 0 0 1 209.321 9.657 A 6.253 6.253 0 0 1 208.545 10.38 Q 207.654 11.084 206.19 11.53 A 13.372 13.372 0 0 1 205.05 11.82 A 4.062 4.062 0 0 1 205.941 12.68 A 4.753 4.753 0 0 1 206.1 12.9 A 80.647 80.647 0 0 1 206.517 13.518 Q 206.729 13.835 206.962 14.189 A 140.058 140.058 0 0 1 207.12 14.43 L 209.16 17.64 A 25.878 25.878 0 0 0 209.662 18.409 A 19.925 19.925 0 0 0 210.15 19.095 A 4.015 4.015 0 0 0 210.845 19.825 A 3.537 3.537 0 0 0 211.26 20.115 A 2.544 2.544 0 0 0 212.014 20.408 Q 212.338 20.48 212.712 20.489 A 4.484 4.484 0 0 0 212.82 20.49 L 212.82 21.48 L 209.04 21.48 A 12.519 12.519 0 0 1 208.241 20.7 A 9.531 9.531 0 0 1 207.585 19.92 A 24.461 24.461 0 0 1 206.989 19.088 A 32.29 32.29 0 0 1 206.37 18.15 L 204.36 14.94 Q 204.025 14.399 203.612 13.713 A 171.221 171.221 0 0 1 203.475 13.485 A 6.558 6.558 0 0 0 202.822 12.574 A 5.456 5.456 0 0 0 202.35 12.09 Q 201.87 12.12 201.345 12.12 Q 200.82 12.12 200.31 12.09 L 200.31 17.91 Q 200.31 18.467 200.303 18.917 A 39.255 39.255 0 0 1 200.295 19.305 Q 200.284 19.728 200.25 20.049 A 5.078 5.078 0 0 1 200.22 20.28 Q 200.58 20.25 200.94 20.235 Q 201.3 20.22 201.66 20.19 A 8.127 8.127 0 0 1 201.666 20.19 A 8.666 8.666 0 0 1 202.38 20.16 L 202.38 21.48 Z M 80.55 21.48 L 80.55 20.49 A 4.658 4.658 0 0 0 81.075 20.435 Q 81.635 20.341 81.95 20.109 A 1.067 1.067 0 0 0 82.11 19.965 Q 82.53 19.5 82.575 18.675 Q 82.617 17.905 82.62 16.938 A 47.971 47.971 0 0 0 82.62 16.8 L 82.62 3.84 Q 82.62 3.24 82.65 2.685 Q 82.68 2.13 82.71 1.68 L 81.63 1.74 L 80.55 1.8 L 80.55 0.48 L 87.63 0.45 A 20.197 20.197 0 0 1 90.525 0.649 A 16.257 16.257 0 0 1 92.58 1.08 Q 94.83 1.71 96.465 3.015 Q 98.1 4.32 98.985 6.315 Q 99.867 8.303 99.87 10.991 A 16.291 16.291 0 0 1 99.87 11.01 Q 99.87 13.08 99.15 14.97 Q 98.43 16.86 96.99 18.315 A 9.834 9.834 0 0 1 94.556 20.097 A 12.081 12.081 0 0 1 93.405 20.625 A 11.681 11.681 0 0 1 90.818 21.31 A 15.916 15.916 0 0 1 88.44 21.48 L 80.55 21.48 Z M 85.23 5.16 L 85.23 17.94 Q 85.23 18.497 85.223 18.94 A 36.896 36.896 0 0 1 85.215 19.32 A 10.901 10.901 0 0 1 85.197 19.722 Q 85.178 20.036 85.14 20.28 A 115.644 115.644 0 0 0 85.916 20.306 A 87.938 87.938 0 0 0 86.625 20.325 Q 87.3 20.34 87.765 20.34 L 88.35 20.34 A 9.127 9.127 0 0 0 90.425 20.112 A 7.652 7.652 0 0 0 91.875 19.62 Q 93.45 18.9 94.575 17.625 A 8.958 8.958 0 0 0 96.153 15.049 A 10.358 10.358 0 0 0 96.315 14.625 A 10.721 10.721 0 0 0 96.905 11.695 A 12.6 12.6 0 0 0 96.93 10.89 A 13.246 13.246 0 0 0 96.732 8.543 A 9.622 9.622 0 0 0 95.895 5.955 Q 94.86 3.87 92.73 2.715 Q 90.959 1.755 88.379 1.593 A 17.242 17.242 0 0 0 87.3 1.56 Q 86.355 1.56 85.899 1.886 A 1.049 1.049 0 0 0 85.755 2.01 A 1.599 1.599 0 0 0 85.389 2.63 Q 85.312 2.862 85.285 3.14 A 3.055 3.055 0 0 0 85.275 3.27 A 26.282 26.282 0 0 0 85.248 3.915 Q 85.239 4.2 85.234 4.511 A 45.985 45.985 0 0 0 85.23 5.16 Z M 24.87 5.16 L 24.87 10.92 Q 25.35 10.95 25.785 10.98 A 6.405 6.405 0 0 0 26.122 10.994 Q 26.353 10.998 26.604 10.987 A 9.138 9.138 0 0 0 26.73 10.98 A 10.658 10.658 0 0 0 28.185 10.832 Q 28.962 10.695 29.625 10.44 Q 30.87 9.96 31.59 8.91 A 3.841 3.841 0 0 0 32.129 7.7 Q 32.264 7.182 32.299 6.57 A 7.553 7.553 0 0 0 32.31 6.15 A 6.976 6.976 0 0 0 32.245 5.175 Q 32.167 4.623 31.995 4.155 Q 31.68 3.3 31.02 2.73 A 3.803 3.803 0 0 0 30.137 2.166 A 5.17 5.17 0 0 0 29.34 1.875 Q 28.32 1.59 26.94 1.59 Q 25.995 1.59 25.539 1.916 A 1.049 1.049 0 0 0 25.395 2.04 A 1.617 1.617 0 0 0 25.016 2.695 Q 24.944 2.928 24.921 3.205 A 3.007 3.007 0 0 0 24.915 3.285 A 25.18 25.18 0 0 0 24.888 3.921 Q 24.879 4.203 24.874 4.513 A 45.672 45.672 0 0 0 24.87 5.16 Z M 200.31 5.16 L 200.31 10.92 Q 200.79 10.95 201.225 10.98 A 6.405 6.405 0 0 0 201.562 10.994 Q 201.793 10.998 202.044 10.987 A 9.138 9.138 0 0 0 202.17 10.98 A 10.658 10.658 0 0 0 203.625 10.832 Q 204.402 10.695 205.065 10.44 Q 206.31 9.96 207.03 8.91 A 3.841 3.841 0 0 0 207.569 7.7 Q 207.704 7.182 207.739 6.57 A 7.553 7.553 0 0 0 207.75 6.15 A 6.976 6.976 0 0 0 207.685 5.175 Q 207.607 4.623 207.435 4.155 Q 207.12 3.3 206.46 2.73 A 3.803 3.803 0 0 0 205.577 2.166 A 5.17 5.17 0 0 0 204.78 1.875 Q 203.76 1.59 202.38 1.59 Q 201.435 1.59 200.979 1.916 A 1.049 1.049 0 0 0 200.835 2.04 A 1.617 1.617 0 0 0 200.456 2.695 Q 200.384 2.928 200.361 3.205 A 3.007 3.007 0 0 0 200.355 3.285 A 25.18 25.18 0 0 0 200.328 3.921 Q 200.319 4.203 200.314 4.513 A 45.672 45.672 0 0 0 200.31 5.16 Z"
                                    vector-effect="non-scaling-stroke" />
                            </g>
                        </svg></h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-justify" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                        </svg></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/home">
                                <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-speedometer2" viewBox="0 0 16 16">
                                        <path
                                            d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
                                        <path fill-rule="evenodd"
                                            d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
                                    </svg></i>
                                Dashboard
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a class="nav-link" href="/admin/home">
                                <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
                                </svg></i>
                                UserData
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " href="/admin/addProduct">
                                <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-capslock" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M7.27 1.047a1 1 0 0 1 1.46 0l6.345 6.77c.6.638.146 1.683-.73 1.683H11.5v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1H1.654C.78 9.5.326 8.455.924 7.816L7.27 1.047zM14.346 8.5 8 1.731 1.654 8.5H4.5a1 1 0 0 1 1 1v1h5v-1a1 1 0 0 1 1-1h2.846zm-9.846 5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1zm6 0h-5v1h5v-1z" />
                                    </svg></i>
                                Add Product
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/admin/products">
                                <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                                        <path
                                            d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z" />
                                    </svg></i>
                                Products
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/category">
                                <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-c-square-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm6.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z" />
                                    </svg></i>
                                Category
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/admin/coupon">
                              <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                  class="bi bi-c-square-fill" viewBox="0 0 16 16">
                                  <path
                                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm6.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z" />
                                </svg></i>
                              Coupon
                            </a>
                          </li>

                          <li class="nav-item">
                            <a class="nav-link" href="/admin/banner">
                                <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-c-square-fill" viewBox="0 0 16 16">
                                    <path
                                      d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm6.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z" />
                                  </svg></i>
                              Banner
                            </a>
                          </li>

                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="/admin/logout">
                                <b>Logout</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <br><br>
            </div>


            
            <div class="container tm-mt-big tm-mb-big">
                <div class="row">

                    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto ">
                        <label for="" class="fw-bold ">Add Category</label>
                        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                            <form action="/admin/addCategory" id="addCategory" method="post"
                                class="tm-edit-product-form">
                                <div class="row tm-edit-product-row">
                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="form-group mb-3 text-white">
                                            <h6>Category Name</h6>
                                            <input name="newcategory" id="category" type="text"
                                                class="form-control" />

                                        </div>
                                    </div>
                                    <div class="col-6 mb-4">
                                        <button type="submit" class="btn btn-dark">Add Category</button>
                                    </div>
                                    <small class="error text-danger"></small>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <% if(msg){ %>
                <script>
              new Swal({
                title: "Error",
                text: "<%=msg%>",
                icon: "error",
                showConfirmButton:false,
                timer:2000
              });
          </script>
                   <% } %> 

                   <script>
                    const category = document.getElementById('category')
                    const form = document.getElementById('addCategory')
                    const errorElement = document.querySelector('.error');

                    form.addEventListener('submit',(e)=>{
                        if(category.value.trim().length===0){
                            e.preventDefault()
                            errorElement.innerText = 'Pleass fill the area'
                        }else{
                            errorElement.innerText = ''
                        }
                    })
                </script>
    
            <%- include('../layouts/footer.ejs') %>