<%- include('../layouts/headerUser.ejs') %>

<div class="w-100 vh-100 d-flex justify-content-center align-items-center bgChange">
  <div>
    <div class="d-flex justify-content-center">
      <h4 class="mb-4">CHANGE PASSWORD</h4>
    </div>
  <form class="hallo" id="form" action="/changePassword" method="post">
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Old password</label>
      <input name="oldPassword" type="password" id="form2Example1 oldPassword" class="form-control text-dark"/>
    </div>
  
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">New password</label>
      <input type="password" name="newPassword" id="form2Example1 newPasssword" class="form-control text-dark" />
      <small class="text-warning">Password requires 8 characters and contain Capital letter and small letter and number</small>
    </div>
  
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Re enter Password</label>
      <input type="password" name="Repassword" id="form2Example2 Repassword" class="form-control text-dark" />
    </div>
  
    <button type="submit" class="btn btn-primary btn-block mb-4">Reset Password</button>
      <small class="error text-danger"></small>
    <%if(msg!=null){
      %>
      <script>
          new Swal({
          title: "Error!!",
          text: "<%=msg%>",
          icon: "error",
          showConfirmButton:false,
          timer:2000
        });
        </script>
      
    <%}%>
  


    <script>
    const form = document.getElementById('form');;
    const oldPassword = document.getElementById('form2Example1 oldPassword');
    const newPasssword = document.getElementById('form2Example1 newPasssword');
    const Repassword = document.getElementById('form2Example2 Repassword')
    const errorElement = document.querySelector('.error');

    form.addEventListener('submit', (e) => {
      let messages = [];
      if(oldPassword.value.trim().length === 0 && newPasssword.value.trim().length === 0 && Repassword.value.trim().length === 0){
        messages.push('Please fill all the forms');
      }else if (oldPassword.value.trim().length === 0) {
        messages.push('Old password is required');
      }else if (newPasssword.value.trim().length === 0) {
        messages.push('Please enter new password');
      }else if (Repassword.value.trim().length === 0) {
        messages.push('Please repeate your password');
      }else if(newPasssword.value!=Repassword.value){
        messages.push('Password not match')
      }
  
      if (messages.length > 0) {
        e.preventDefault();
        errorElement.innerText = messages.join(', ');
      }
    });
  </script>
  </form>
  </div>
</div>
<%- include('../layouts/footerUser.ejs') %>